# idea
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

src/weight_and_bias/wandb

# Model export
export/
*.joblib

#Learning Directories
/src/testing.ipynb
